<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <acme-navbar creation-date="main.creationDate">
    </acme-navbar>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Mean Music</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Latest Songs</a>
      <a class="mdl-navigation__link" href="">Favorites</a>
      <a class="mdl-navigation__link" href="">Friends</a>
      <a class="mdl-navigation__link" href="">Contact</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
    <audio controls autoplay ng-src="{{main.currentTrack | trusted}}"></audio>
    <form ng-submit="main.searchArtists()">
      <input type="text" placeholder="Enter an Artist" ng-model="main.artist">
      <input type="submit" id="submit" value="Submit"/>
    </form>
    <ul ng-repeat="artist in main.artists">
      <li ng-click="main.getSounds(artist.permalink)">{{artist.username}}</li>
    </ul>
      <div ng-repeat="sound in main.sounds">
        <h5 ng-click="main.loadTrack(sound)">{{sound.title}}</h5>
        <p>{{sound.username}}</p>
      </div>
    </div>
  </main>


  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo">
        Sounds sooooo good.
      </div>
    </div>
  </footer>

</div>
